
.bev{
    text-align: center;
    margin: 120px;
}

.mid{
    margin: 50px;
    width: 700px;
}

.bef{
    text-align: left;
    margin: 50px;
    width: 700px;
}

#img_01{
    position: relative;
    bottom: 250px;
    right: 100px;
    float: right;
    width: 550px;
    margin: 10px;
    border: 2px solid #3d3d3d;
}